@font-face {
  font-family: Blushes;
  font-display: swap;
  src: url(../fonts/Blushes-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: Blushes-Italic;
  font-display: swap;
  src: url(../fonts/Blushes-BlackItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src: url(../fonts/DrukCyr-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src: url(../fonts/DrukCyr-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url(../fonts/HelveticaNeue-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: DrukCyr;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: DrukCyr;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
body .wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: url(../img/shadow.webp) center/cover
}
body .wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup__body {
  position: relative
}
.popup__body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: -webkit-max-content;
  width: max-content;
  margin: 0 auto
}
.popup__body-content::before {
  content: "";
  position: absolute;
  inset: -7% -10% -10% -10%;
  z-index: 2;
  background: url(../img/popup/assets-popup.webp) 0 0/cover no-repeat;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  opacity: 0;
  transition: all .3s ease .15s
}
.popup-show .popup__body-content::before {
  opacity: 1;
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.popup__body-content img {
  -webkit-filter: drop-shadow(0 0 5vmin rgba(251, 188, 4, .45));
  filter: drop-shadow(0 0 5vmin rgba(251, 188, 4, .45))
}
.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%
}
.popup__button-content {
  display: flex;
  align-items: center;
  justify-content: center
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  width: 100%
}
.lock .popup__content {
  visibility: visible
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.footer {
  width: 100%;
  background: #0d0d0e;
  z-index: 6;
  padding: 0 4vmin;
  border-top: 1px solid #cf0
}
.footer__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmin 0
}
.footer__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vmin
}
.footer__platform {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vmin
}
.footer__platform-item {
  display: flex
}
.footer__app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px
}
.footer__app-item {
  text-decoration: none;
  cursor: pointer;
  display: flex
}
.footer__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
  flex-direction: row-reverse
}
.footer__image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}
.footer__image-item {
  display: flex
}
.footer__image-item svg {
  height: min(6vmin,10vmax)
}
.footer__desc {
  font-family: HelveticaNeueLight;
  font-size: min(1.4vmin,1vmax);
  font-weight: 300;
  line-height: 1.5vmin;
  text-align: right;
  color: #e6e6e6
}
html {
  background-color: #cf0
}
.page {
  overflow: hidden
}
.page__scratches {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none
}
.page__scratches img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.page__characters {
  pointer-events: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0
}
.page__characters img {
  height: 1900%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom
}
.page__logo {
  flex: 0 1 min(35vmin,25vmax)
}
.page__game-logo {
  display: inline-flex
}
.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(2vmin,1vmax)
}
.page__logo svg {
  height: auto
}
.page__title {
  font-family: DrukCyr;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  text-align: center
}
.page__title p {
  display: inline-block;
  color: #cf0
}
.page__counter {
  font-family: Blushes-Italic;
  display: inline-flex;
  align-items: center;
  gap: .5rem
}
.page__counter p {
  color: #fff;
  text-transform: uppercase
}
.page__counter p span {
  display: inline-block;
  margin-top: -4px;
  color: #cf0
}
.page__counter .count {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 min(2vmin,1vmax);
  background: url(../img/counter-bg.svg) 0 0/100% 100%;
  line-height: 1.5
}
.page__content {
  position: relative
}
.page__books-full img {
  width: min(max(49vmin,80vmax),min(120vmin,70vmax));
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom center;
  object-position: bottom center
}
.page__sparks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/books/sparks.webp) top/contain repeat
}
.page__sparks img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top
}
.page__columns {
  display: flex;
  align-items: center;
  justify-content: center
}
.page .wheel-spin-button.button[disabled] {
  opacity: 0;
  pointer-events: none
}
.page .game-container {
  position: relative
}
.page .game-container>.game__roulette .wheel-spin-button {
  background: url(../img/roullete/button.webp) 0 0/cover no-repeat;
  color: #212713;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 8%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: .3vmin;
  z-index: 4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}
.page .game-container .game__roulette .wheel-image {
  position: relative
}
.page .game-container .game__roulette .wheel-image::before {
  content: "";
  position: absolute;
  left: -25.25%;
  top: -23%;
  right: -23%;
  bottom: -23%;
  background: url(../img/roullete/wheel-shadow.webp) 0 0/cover no-repeat
}
.page .game-container .game__roulette .wheel-image img {
  position: relative;
  z-index: 4
}
.page .game-container .game__roulette .wheel-pointer {
  position: absolute;
  z-index: 2;
  top: -3.5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%
}
.wheel-image {
  transition: none;
  -webkit-transform: rotate(var(--final-deg,0deg));
  transform: rotate(var(--final-deg,0deg))
}
@-webkit-keyframes spin-animation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  90% {
    -webkit-transform: rotate(var(--final-deg)15deg);
    transform: rotate(var(--final-deg)15deg);
    -webkit-transform: rotate(var(--final-deg));
    transform: rotate(var(--final-deg))
  }
}
@keyframes spin-animation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  90% {
    -webkit-transform: rotate(var(--final-deg)15deg);
    transform: rotate(var(--final-deg)15deg);
    -webkit-transform: rotate(var(--final-deg));
    transform: rotate(var(--final-deg))
  }
}
.spin {
  -webkit-animation: spin-animation 5s ease-out forwards;
  animation: spin-animation 5s ease-out forwards
}
.button {
  font-family: HelveticaNeue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  font-size: min(3.45vmin,1vmax);
  border-radius: 20rem;
  min-width: min(24vmin,14vmax);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all .3s;
  height: min(6vmin,4vmax)
}
.button:active {
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
.marquee-row {
  overflow-x: hidden;
  bottom: min(3vmin,2vmax);
  display: inline-flex;
  align-items: center
}
.marquee-row>div {
  display: flex;
  gap: min(5vmin,2.5vmax)
}
.marquee-row .marquee-line {
  font-family: DrukCyr;
  display: inline-flex;
  align-items: center;
  gap: min(5vmin,2.5vmax);
  font-style: italic;
  color: rgba(255,255,255,.4);
  font-size: min(2vmin,1vmax)
}
.marquee-row .marquee-line svg {
  width: min(5vmin,2vmax);
  height: min(5vmin,2vmax)
}
@media (min-width:81.25em) {
  .page .game-container>.game__roulette .wheel-spin-button {
    min-height: min(29vmin,22.5vmax);
    min-width: min(29vmin,22.5vmax);
    transform: translate(-51%,-54%);
    -webkit-transform: translate(-51%,-54%);
    -moz-transform: translate(-51%,-54%);
    -ms-transform: translate(-51%,-54%);
    -o-transform: translate(-51%,-54%)
  }
  .page .game-container>.game__roulette .wheel-spin-button:hover {
    transform: scale(1.02) translate(-51%,-54%);
    -webkit-transform: scale(1.02) translate(-51%,-54%);
    -moz-transform: scale(1.02) translate(-51%,-54%);
    -ms-transform: scale(1.02) translate(-51%,-54%);
    -o-transform: scale(1.02) translate(-51%,-54%)
  }
}
@media (min-width:500px) {
  body::before {
    background: #000 url(../img/bg-main.webp) center/cover
  }
  body .wrapper::before {
    background: linear-gradient(0deg,rgba(0,0,0,.5) 31%,rgba(0,0,0,0) 95%);
    z-index: 4;
    height: 20vmin
  }
  .popup__body-content img {
    width: min(70vmin,40vmax)
  }
  .footer__platform-item svg {
    width: min(6vmin,10vmax);
    height: min(5vmin,7vmax)
  }
  .footer__app-item svg {
    width: min(12vmin,20vmax);
    height: min(6vmin,7vmax)
  }
  .page__items {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    z-index: 3
  }
  .page__items-item {
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: all .3s
  }
  .page__items-item.item-1 {
    right: 4%;
    bottom: 0;
    -webkit-transform: translate(10%,8%);
    transform: translate(10%,8%)
  }
  .loaded .page__items-item.item-1 {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .page__items-item.item-1 img {
    width: min(70vmin,45vmax)
  }
  .page__items-item.item-2 {
    left: 10%;
    bottom: 17%;
    -webkit-transform: translate(-10%,-8%);
    transform: translate(-10%,-8%)
  }
  .loaded .page__items-item.item-2 {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .page__items-item.item-2 img {
    width: min(50vmin,25vmax)
  }
  .page__characters {
    z-index: 3
  }
  .page__characters img {
    width: min(140vmin,100vmax)
  }
  .page__wrapper {
    padding: 0 min(max(10vmin,15vmax),min(5vmin,10vmax))
  }
  .page__game-logo {
    flex: 0 1 min(35vmin,25vmax);
    justify-content: flex-end
  }
  .page__game-logo img {
    width: min(30vmin,25vmax)
  }
  .page__header {
    margin-top: min(3vmin,2.22vmax)!important
  }
  .page__logo svg {
    width: 25.3vmin;
    max-width: min(21vmax,340px)
  }
  .page__counter p {
    font-size: min(2.8vmin,2vmax)
  }
  .page__counter p span {
    font-size: min(5.8vmin,4vmax)
  }
  .page__counter .count {
    height: min(9vmin,6vmax);
    width: min(8vmin,5vmax);
    font-size: min(5.8vmin,4vmax)
  }
  .page__content {
    z-index: 4;
    padding-bottom: min(5vmin,2.5vmax)
  }
  .page__books-full {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1
  }
  .page .game__roulette-wrapper {
    display: none
  }
  .page__books-mob {
    display: none
  }
  .page__books .book {
    position: absolute;
    z-index: 2
  }
  .page__books .book-1 img {
    width: min(55vmin,35vmax)
  }
  .page__books .book-2 img {
    width: min(45vmin,20vmax)
  }
  .page__books .book-3 {
    top: 0;
    right: 0
  }
  .page__books .book-3 img {
    width: min(25vmin,10vmax)
  }
  .button {
    background: url(../img/btn-bg.webp) 0 0/100% 100% no-repeat;
    width: min(40vmin,18vmax)
  }
  .marquee-row {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0
  }
}
@media (max-height:31.25em)and (min-width:500px) {
  .page__right {
    flex: initial!important
  }
}
@media (min-width:500px)and (min-width:1024px) {
  .page__books .book-1 {
    top: min(5vmin,2vmax);
    right: min(60vmin,28vmax)
  }
  .page__books .book-2 {
    bottom: min(1vmin,1vmax);
    right: min(15vmin,8vmax)
  }
}
@media (min-width:768px) {
  .footer__left .footer__image {
    display: none
  }
}
@media (min-width:1024px) {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
  }
  .footer__desc {
    max-width: 30vmax
  }
  .page__header {
    margin: 0 auto;
    max-width: min(160vmin,75vmax)
  }
  .page__title {
    letter-spacing: .5vmin;
    margin-bottom: min(12vmin,6vmax)
  }
  .page__title {
    font-size: min(7.2vmin,2.5vmax)
  }
  .page__books-full {
    bottom: min(3vmin,5vmax)
  }
  .page__right {
    margin-top: min(-5vmin,-2vmax)
  }
}
@media (min-width:64em) {
  .page .game-container {
    margin-top: min(-3vmin,2vmax)
  }
}
@media (min-width:90em) {
  .page .game-container .game__roulette .wheel-image img {
    width: min(60vmin,40vmax);
    height: min(60vmin,40vmax)
  }
  .page .game-container .game__roulette .wheel-pointer img {
    width: min(4.5vmin,3vmax)
  }
}
@media (max-width:1440px) {
  .footer__wrap {
    flex-direction: column
  }
}
@media (max-width:90em) {
  .page .game-container .game__roulette .wheel-image img {
    width: min(40vmin,30vmax);
    height: min(40vmin,30vmax)
  }
  .page .game-container .game__roulette .wheel-pointer img {
    width: min(6vmin,3vmax)
  }
}
@media (max-width:1024px) {
  .footer__wrap {
    gap: 4vmin
  }
  .footer__desc {
    font-size: 1.3vmin
  }
  .page__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%
  }
  .page__content {
    display: flex;
    flex-direction: column;
    flex: 1
  }
  .page__columns {
    flex: 1 1;
    display: flex;
    align-items: center
  }
  .page__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }
  .page__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1
  }
  .page__header {
    margin-bottom: min(3vmin,2.22vmax)
  }
  .page__title {
    letter-spacing: .1vmin;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: min(8vmin,2vmax)
  }
  .page__title {
    font-size: min(3.8vmin,4.32vmax)
  }
  .page__books-full {
    bottom: 0
  }
  .page__columns {
    flex-direction: column;
    margin-bottom: min(7vmin,5vmax)
  }
  .page__right {
    margin-top: min(10vmin,6vmax)
  }
}
@media (max-width:64em) {
  .page .game-container {
    margin-top: min(5vmin,4vmax)
  }
}
@media (max-width:768px) {
  .footer__left {
    flex-direction: column
  }
  .footer__right {
    flex-direction: column-reverse;
    gap: 4vmin;
    align-items: center
  }
  .footer__right .footer__image {
    display: none
  }
  .footer__desc {
    font-size: 1.3vmin;
    line-height: 1.1;
    text-align: center
  }
  .page__title {
    font-size: min(5.2vmin,3.5vmax)
  }
}
@media (max-width:500px) {
  body::before {
    background: #000 url(../img/bg-main-mob.webp) center/cover
  }
  body .wrapper::before {
    z-index: 7;
    background: linear-gradient(0deg,rgba(0,0,0,.8) 31%,rgba(0,0,0,0) 95%);
    height: 60vmin
  }
  body {
    background-attachment: fixed!important
  }
  .popup__body-content img {
    width: min(90vmin,60vmax)
  }
  .footer {
    padding: 2vmin 0
  }
  .footer__platform-item {
    opacity: .7;
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
  }
  .footer__platform-item svg {
    width: min(16.2vmin,20vmax);
    height: min(8vmin,14vmax)
  }
  .footer__app-item svg {
    width: min(28vmin,30vmax);
    height: min(10vmin,14vmax)
  }
  .footer__desc {
    font-size: min(2.8vmin,1.8vmax)
  }
  .page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 10;
    pointer-events: none;
    height: 50vmax;
    mix-blend-mode: screen;
    background: url(../img/shadow-top-bg.webp) center/100% 100%
  }
  .page::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    pointer-events: none;
    height: 40vmax;
    width: 100%;
    mix-blend-mode: screen;
    background: url(../img/top-light.webp) center/100% 100%
  }
  .page__items {
    display: none
  }
  .page__characters {
    z-index: 4
  }
  .page__wrapper {
    padding: 0 1rem
  }
  .page__wrapper {
    position: relative;
    height: 100dvh
  }
  .page__game-logo {
    justify-content: center
  }
  .page__header {
    margin-top: min(15vmin,5vmax)!important;
    justify-content: center;
    position: relative;
    z-index: 10
  }
  .page__logo svg {
    width: 40.3vmin;
    max-width: 35vmax
  }
  .page__title {
    font-size: min(5vmin,4.32vmax);
    position: relative;
    z-index: 10
  }
  .page__counter {
    justify-content: center;
    display: flex;
    margin-top: min(3vmin,2vmax)
  }
  .page__counter p {
    font-size: min(5.25vmin,5vmax)
  }
  .page__counter p span {
    font-size: min(12vmin,5vmax)
  }
  .page__counter .count {
    height: min(14vmin,10vmax);
    width: min(14vmin,10vmax);
    font-size: min(8vmin,6vmax)
  }
  .page__books-full {
    display: none
  }
  .page .game__roulette-wrapper {
    position: relative;
    z-index: 10
  }
  .page .game__roulette-wrapper .game__roulette-game-logo {
    display: flex;
    align-items: center;
    justify-content: center
  }
  .page__books-mob {
    position: absolute;
    inset: 0
  }
  .page__books-mob img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .page__books {
    display: none
  }
  .page .game-container {
    z-index: 3
  }
  .page .game-container .game__roulette .wheel-pointer img {
    width: min(6vmin,3vmax)
  }
  .button {
    background: url(../img/btn-bg-mob.webp) 0 0/100% 100% no-repeat;
    width: min(60vmin,40vmax);
    min-width: 40vmin;
    height: min(12vmin,6vmax);
    font-size: min(4vmin,3vmax)
  }
  .marquee-row {
    z-index: 7;
    margin: 0 -1rem .875rem -1rem
  }
}
@media (max-width:500px)and (max-height:800px) {
  .page__characters img {
    width: min(90vmin,70vmax)
  }
}
@media (max-width:500px)and (min-height:800px) {
  .page__characters img {
    width: min(122vmin,100vmax)
  }
}
@media (max-width:500px)and (min-height:920px) {
  .page__game-logo img {
    width: min(50vmin,35vmax)
  }
  .page .game__roulette-wrapper {
    margin-top: min(10vmin,5vmax)
  }
  .page .game-container>.game__roulette .wheel-spin-button {
    min-height: min(34vmin,17.5vmax);
    min-width: min(37vmin,17.5vmax);
    transform: translate(-50%,-58%);
    -webkit-transform: translate(-50%,-58%);
    -moz-transform: translate(-50%,-58%);
    -ms-transform: translate(-50%,-58%);
    -o-transform: translate(-50%,-58%)
  }
  .page .game-container>.game__roulette .wheel-spin-button:hover {
    -webkit-transform: scale(1.02) translate(-50%,-58%);
    transform: scale(1.02) translate(-50%,-58%)
  }
  .page .game-container .game__roulette .wheel-image img {
    width: min(80vmin,40vmax);
    height: min(80vmin,40vmax)
  }
}
@media (max-width:500px)and (max-height:920px) {
  .page__game-logo img {
    width: min(40vmin,35vmax)
  }
  .page .game__roulette-wrapper {
    margin-top: min(5vmin,2.5vmax)
  }
  .page .game-container>.game__roulette .wheel-spin-button {
    min-height: min(27vmin,17.5vmax);
    min-width: min(27vmin,17.5vmax);
    transform: translate(-51%,-54%);
    -webkit-transform: translate(-51%,-54%);
    -moz-transform: translate(-51%,-54%);
    -ms-transform: translate(-51%,-54%);
    -o-transform: translate(-51%,-54%)
  }
  .page .game-container>.game__roulette .wheel-spin-button:hover {
    transform: scale(1.02) translate(-51%,-54%);
    -webkit-transform: scale(1.02) translate(-51%,-54%);
    -moz-transform: scale(1.02) translate(-51%,-54%);
    -ms-transform: scale(1.02) translate(-51%,-54%);
    -o-transform: scale(1.02) translate(-51%,-54%)
  }
  .page .game-container .game__roulette .wheel-image img {
    width: min(60vmin,40vmax);
    height: min(60vmin,40vmax)
  }
}
@media (max-width:25em)and (max-height:720px) {
  .page__game-logo img {
    width: min(30vmin,15vmax)
  }
}
@media (max-width:25em)and (min-height:720px) {
  .page__game-logo img {
    width: min(40vmin,30vmax)
  }
}
@media (max-width:81.25em) {
  .page .game-container>.game__roulette .wheel-spin-button:hover {
    transform: scale(1.02) translate(-50%,-52%);
    -webkit-transform: scale(1.02) translate(-50%,-52%);
    -moz-transform: scale(1.02) translate(-50%,-52%);
    -ms-transform: scale(1.02) translate(-50%,-52%);
    -o-transform: scale(1.02) translate(-50%,-52%)
  }
}
@media (min-width:500px)and (max-width:1024px) {
  .page__books .book-1 {
    left: 0;
    top: 10%
  }
  .page__books .book-2 {
    bottom: 20%;
    right: 0
  }
  .page__books .book-3 {
    display: none
  }
}
@media (max-width:81.25em)and (min-width:500px) {
  .page .game-container>.game__roulette .wheel-spin-button {
    min-height: min(20vmin,14.5vmax);
    min-width: min(20vmin,14.5vmax);
    transform: translate(-50%,-52%);
    -webkit-transform: translate(-50%,-52%);
    -moz-transform: translate(-50%,-52%);
    -ms-transform: translate(-50%,-52%);
    -o-transform: translate(-50%,-52%)
  }
}
@media (max-height:500px) {
  .page .game-container>.game__roulette .wheel-spin-button {
    min-height: min(20vmin,17.5vmax);
    min-width: min(20vmin,17.5vmax)
  }
  .page .game-container .game__roulette .wheel-pointer img {
    width: min(3vmin,3vmax)
  }
}
@media (any-hover:hover) {
  .button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}